// ----------
// Font Size
// ----------

$font-size-xxs: 1rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 2rem;
$font-size-xl: 2.6rem;
$font-size-xxl: 3rem;
$font-size-xxxl: 3rem;
