:root {
  font-size: 10px;
}

html {
  font-family: 'Gordita', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #edf0f3;
  overflow-x: hidden;
}

.container {
  min-height: calc(100vh - 64px);
  padding: $spacer-xxl $spacer-m 80px $spacer-m;
}

.container > .title-h1 {
  margin-bottom: $spacer-xl;
}
