// ----------
// Typescale
// ----------

@mixin f_h1 {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}

@mixin f_h2 {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-l;
  line-height: $line-height-l;
}

@mixin f_h3 {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-m;
  line-height: $line-height-m;
}

@mixin f_h4 {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-s;
  line-height: $line-height-s;
}

@mixin f_overline {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-xxs;
  line-height: $line-height-xs;
  text-transform: uppercase;
}

@mixin f_body1 {
  font-family: $font-family;
  font-weight: $regular;
  font-size: $font-size-m;
  line-height: $line-height-m;
}

@mixin f_body2 {
  font-family: $font-family;
  font-weight: $regular;
  font-size: $font-size-s;
  line-height: $line-height-m;
}

@mixin f_body3 {
  font-family: $font-family;
  font-weight: $regular;
  font-size: $font-size-xs;
  line-height: $line-height-s;
}

@mixin f_caption1 {
  font-family: $font-family;
  font-weight: $regular;
  font-size: $font-size-xxs;
  line-height: $line-height-m;
}

@mixin f_caption2 {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-xxs;
  line-height: $line-height-m;
}

@mixin f_calendar {
  font-family: $font-family;
  font-weight: $medium;
  font-size: $font-size-xs;
  line-height: $line-height-s;
}
